<footer>
  <br>
  <!-- <img class="logo" src="/images/logo.png"> -->
  <section class="github-links">
    <a href="https://github.com/xPuffball"><img class="git-logo" src="/images/GitHub-Mark-Light-32px.png">  Jaemin Han</a>
    <a href="https://github.com/jesselap"><img class="git-logo" src="/images/GitHub-Mark-Light-32px.png">  Jesse LaPointe</a>
    <a href="https://github.com/special3220"><img class="git-logo" src="/images/GitHub-Mark-Light-32px.png">  Md Tawfiqul Hasan Khan</a>
    <p style="font-size: small;">© 2021 The Midterm Co.</p>
  </section>
  <!-- <img class="logo" src="/images/logo.png"> -->
  <br>
</footer>


<!-- GitHub-Mark-Light-32px -->

