<footer>
  <br>
  <img class="logo" src="https://api.freelogodesign.org/files/344d8d31606642649623a20c84a49250/thumb/logo_200x200.png?v=0">
  <p>LightQUIZ created by Jaemin Han, Jesse LaPointe, Md Tawfiqul Hasan Khan</p>
  <p>© 2021 The Midterm Co.</p>
  <br>
</footer>


