<script type="text/javascript" src="/scripts/userNav.js"></script>

<ul id="userNav" class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/users/activity/1">MY RECORDS</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users/quizzes/1">MY QUIZZES</a>
  </li>
</ul>
