<nav class="navbar navbar-expand-md">
  <a href="/">
    <img class="nav-logo" src="/images/nav_logo.png">
 </a>
  <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse px-3 justify-content-between" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/"> HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/quizes/">CATEGORIES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/quizes/new">CREATE QUIZ</a>
      </li>
    </ul>
    <div class="d-flex flex-column flex-md-row align-items-start">
      <% if (!user) { %>
      <a class="btn btn-success mx-md-2 my-sm-2 my-md-0 user-link" href="/login">LOGIN</a>
      <a class="btn btn-secondary user-link" href="/register">SIGNUP</a>
      <% } else { %>
        <a class="btn mx-md-2 my-sm-2 my-md-0 user-link" href="/users/quizzes"><%= user.name %></a>
        <form action="/logout" method="post">
          <button class="btn btn-secondary logout-link" type="submit" >Logout</button>
        </form>
        <% } %>
    </div>
  </div>
</nav>
