<!DOCTYPE html>
<html lang="en">

<head>
  <title>Quiz App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="#" class="navbar-brand px-3">LightQUIZ</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse px-3 justify-content-between" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#"> HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CATEGORIES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">TOP QUIZES</a>
        </li>
      </ul>
      <div class="d-flex flex-column flex-md-row align-items-start">
        <form class="form-inline mx-lg-2 d-flex flex-row">
          <input class="form-control px-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <button class="btn btn-success mx-md-2 my-sm-2 my-md-0">LOGIN</button>
        <button class="btn btn-danger">SIGNUP</button>
      </div>
    </div>
  </nav>

  <main class="container">
    <section class="row pt-4">
      <div class=" col-md-8 jumbotron">
        <h2 class="display-5">Hello, world!</h2>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
      </div>
      <div class="col-md-4 d-flex flex-column">
        <h4 class="text-center">LightQuiz LeaderBoard</h4>
        <ul class="list-group">
          <li class="list-group-item d-flex bg-success justify-content-between align-items-center">
            Jesse
            <span class="badge badge-danger badge-pill">55</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Jesse
            <span class="badge badge-primary badge-pill">55</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Jesse
            <span class="badge badge-primary badge-pill">55</span>
          </li>
        </ul>
      </div>
    </section>
  </main>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>
