footer {
  background-color:#32a8c9;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-image: url("/images/groovepaper.png");
  p {
    color:#EEE;
    margin-bottom: 0;
  }
  .github-links {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .logo {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 5em;
  }
  .git-logo {
    width: 1em;
  }
  .github-links a {
    text-decoration: none;
    color:#EEE;
}
}
