// See: https://sass-lang.com/

@mixin title-tab {
  background-color: #32a8c9;
  color: #EEE;;
  text-transform: uppercase;
  text-align: center;
}

body {
  background-color: #EEE;
  padding: 1%;

  h1 {
    color: #244751;
  }
  .start-quiz {
    color: #eee;
    background-color: #276678;
    border: none;
  }
  .start-quiz:focus, .start-quiz:hover {
    color: #eee;
    background-color: #276678;
  }
}

nav {
 background-color:#32a8c9;
 a {
   color:#EEE;
 }
 .nav-link {
  color:#EEE;
 }
  .nav-link:focus, .nav-link:hover {
  color: #276678;
  }
  .user-link {
    background-color:#EEE;
    color: #276678;
    border: none;
  }
  .user-link:focus, .user-link:hover {
    color: #eee;
    background-color: #276678;
  }
  .logout-link {
    color: #eee;
    background-color: #276678;
    border: none;
  }
  .logout-link:focus, .logout-link:hover {
    color: #eee;
    background-color: #276678;
    border: none;
  }


}

footer {
  background-color:#32a8c9;
  text-align: center;
  p {
    color:#EEE;
  }
}
.logo {
  margin-bottom: 1em;
  width: 5em;
}

.nav-logo {
  margin-left: 1em;
  width: 6em;
}

.main-body {
  background-color: #d3e0ea;
}
.home-header {
  .jumbotron {
    border-radius: 25px;
    width: 65%;
  }
  .leaderboard {
    border-radius: 25px;
    h4 {
      text-align: center;
      text-transform: uppercase;
      color: #276678;
    }
    li {
      span{
        background-color:#36874c;
        // color:black;
      }
    }
  }
}
.quizes-container {
  // background-color: red;
  // height: 200px;

  .card{
    border: 2px solid #32a8c9;
    max-height: 350px;
    width: 32.5%;
    margin-bottom: 1.5%;
    align-items: flex-start;
    justify-content: flex-end;
    &:hover {
      cursor: pointer;
      img {
        opacity: 0.9;
      }
      .overlay {
        background-color: rgba(0,0,0,.5);
      }
    }
    a{
      width: 100%;
      height: 100%;
    }

    img{
      opacity: 1.0;
      width: 100%;
      height: 100%;
    }
    .overlay {
      background-color: rgba(0,0,0,.3);
      position: absolute;
      word-break: break-word;
      width: 100%;
      padding-bottom: 2%;

      .header{
        display: flex;
        justify-content: space-between;

        .avg-score {
          background-color: green;
          padding: 0.2rem 0.5rem;
        }
      }
      span:first-child {
        background-color: brown;
        text-transform: uppercase;
        padding: 0.2rem 0.5rem;
        font-size: 0.9rem;
      }
      .card-text {
        padding-left: 0.5rem;
      }
    }
  }

  h4{
    @include title-tab;
    margin-top: 1%;
  }
}

h3 {
  @include title-tab;
}

#questions-container{
  padding: 20px 0;
  margin: auto;
}

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-text {
  font-size: 10em;
  color: #276678;
  font-family: 'Quicksand', sans-serif;
  margin-top: 1.2em;
  margin-bottom: 0.1em;
}

.error-desc {
  color: #D3E0EA;
  font-family: 'Quicksand', sans-serif;
}


.result-header{
  display: flex;

  .sec-1{
    // width: 200px;
    height: 200px;
    background-color: blue;
  }
  .sec-2{
    // width: 200px;
    height: 200px;
    background-color: red;
  }

  blockquote{
    flex-grow: 1;
  }
}

.dot {
  height: 2.5em;
  width: 2.5em;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.card-img-overlay {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.hideme {
  opacity: 0;
}

.share {
  margin-bottom: 5px;
  width: 5.5em;
  padding: 2px;
  padding-top: 1px;
  padding-bottom: 1px;
  font-size: 0.8em;
  color: white;
  background-color: #1687A7;
}

.linkField {
  height: 1.5em;
}

.new-quiz {
  background-color: blue;
  padding: 0.2rem 0.5rem;
}

#leaderboard {
  background-color: #36874c;
}

.music {
  color: #FFF;
  background-color: rosybrown;
  border-color: rosybrown;
}

.history {
  color: #FFF;
  background-color: chocolate;
  border-color: chocolate;
}

.art {
  color: black;
  background-color: #a9da0a;
  border-color: #a9da0a;
}
.misc{
  color: black;
  background-color: #e49d04;
  border-color: #e49d04;
}

.quiz-question {
  margin-left: 2em;
  margin-right: 2em;
  border: none;
}

#quiz-play-submit {
  margin-left: 3em;
}

#quiz-title {
  margin: 0;
}
#quiz-owner {
  margin: 0;
  font-size: 100%;
}

