// See: https://sass-lang.com/
@mixin title-tab {
  background-color: #32a8c9;
  color: #eee;
  text-transform: uppercase;
  text-align: center;
}

@import "header", "navbar", "users_page", "quizes", "footer", "404",
  "media_queries";

body {
  background-color: #eee;
  padding: 1%;

  h1 {
    color: #244751;
  }
  .start-quiz {
    color: #eee;
    background-color: #276678;
    border: none;
  }
}

.main-body {
  background-color: #d3e0ea;
}

h3 {
  @include title-tab;
}

#questions-container {
  padding: 20px 0;
  margin: auto;
  border: none;
}

.new-quiz {
  background-color: blue;
  padding: 0.2rem 0.5rem;
}

#leaderboard {
  background-color: #36874c;
}

.science {
  color: #fff;
  background-color: #9362d3;
  border-color: #9362d3;
}
.music {
  color: #fff;
  background-color: rosybrown;
  border-color: rosybrown;
}

.history {
  color: #fff;
  background-color: chocolate;
  border-color: chocolate;
}

.art {
  color: black;
  background-color: #a9da0a;
  border-color: #a9da0a;
}
.misc {
  color: black;
  background-color: #e49d04;
  border-color: #e49d04;
}

.quiz-question {
  margin-left: 2em;
  margin-right: 2em;
  border: none;
}

#quiz-play-submit {
  margin-left: 3em;
}

#quiz-title {
  margin: 0;
  margin-top: 0.5rem !important;
}
#quiz-owner {
  margin: 0;
  font-size: 100%;
}

.attempt-container {
  display: flex;
  padding: 6px;
  align-items: flex-start;
}

.quiz-container-title {
  display: flex;
  align-items: center;
  background-color: #32a8c9;

  h2 {
    color: #eee;
    text-align: center;
    text-transform: uppercase;
    background-image: url("/images/groovepaper.png");
  }
  h4 {
    font-size: 1rem;
    min-width: 25%;
    color: #eee;
    margin-top: 0.5rem;
    text-align: center;
    text-transform: uppercase;
    background-image: url("/images/groovepaper.png");
  }
}

.display-7 {
  background-image: url("/images/groovepaper.png");
}

h3 {
  background-image: url("/images/groovepaper.png");
}
